/MYMETA.*
/Build
/Build.bat
/Build.cmd
/_build/
/blib/
/MANIFEST
/META.*
/cover_db/
/lib/Number/Phone/FR/Full.pm
/Number-Phone-FR-*
wopnum*.xls
majnum*.xls
majsdt*.xls
gelnum*.xls
/doc/
libphonenumber-33*
*.bak
*.old
*.tmp
.*.swp
.~*#
*.csv
Debian_CPANTS.txt
